body{
background-color: #75646493;
margin: 0;

}
.menu{
    width: 100%;
    background: #312f38;
    height: 50px;

}
.menu img{
    width: 50px;
    padding-left: 20px;
    
}
.menu ul{
    margin: 0;
    display: inline;
    vertical-align: bottom;
}
.listas{
    background: #e1e1e99f;
    float: right;
    font-size: 20px; 
    list-style: none;
    padding: 13.5px;
}
.listas a{
    text-decoration: none;
    color: #fbfafc;
    padding: 0 20px;

}
.listas:hover{
    background-color: #312f38;
}
.Banner {
    margin: 0;
    padding: 10px 0 0 0;
}
.Banner img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.menuLateral{
    margin: 0px 5px;
    padding: 0.1em 1em 0.5em 1em;          
    background-color: #312f38; 
    width: 20%;
    float: left;          
    list-style-type: none; 
    position: relative;  
    cursor: pointer;
}
.menuLateral .SeccionMenu{
 list-style: none;
}
.menuLateral li:hover{
    background-color: #e1e1e99f;
    width: 100%;
}
.menuLateral .subSeccion{
    position: absolute; 
    top: 100%; 
    left: 0px;  
    background-color: #41338b; 
    font:normal 0.8em arial;  
    padding: 0.2em 0.5em ;
}

.container{
    background-color: #41338b;
    border: 10px;
    border-color: #312f38;
    max-width: 100%;
    width: 75%;
    padding: 0;
    display: inline-block;

}
.Div-container{
    display: inline-block;  
    background-color: #f0f8ff;
    padding: 10px; 
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.Div-container > img{
    margin: 0px 0;
    padding: 15px;
    width: 250px;
    height: 150px;   
}



